.container {
	max-width: 1264px;
	margin: 0 auto;
	width: 100%;
	padding: 35px 30px;
	min-height: 100vh;
	background: var(--bgGradient);
}

.card {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.cardItem {
	max-width: 600px;
	width: 100%;
	text-align: center;
	margin-right: 35px;
}

.cardItem:last-child {
	margin-right: 0;
}

span.more {
	color: var(--secondary) !important;
}
